body, html
{
    width:100%;
    height: 100%
    margin: 0px;
    background-color: black;
    font-family: 'Print Char 21'
}
.screen
{
    width:800px;
    height:600px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
#cnt{
    color: white;
    font-size: 120px;
    position:absolute;
}
#logoSpriteEX
{
    width: 129px;
    height: 115px;
    background-image: url('expertlogo.png');
    background-size: 480px 115px;
    background-position: 0px 0px;
    position: absolute;
}
#logoSpriteXP
{
    width: 129px;
    height: 115px;
    background-image: url('expertlogo.png');
    background-size: 495px 115px;
    background-position: -131px 0px;
    position: absolute;
}
#logoSpriteER
{
    width: 119px;
    height: 115px;
    background-image: url('expertlogo.png');
    background-size: 495px 115px;
    background-position: -260px 0px;
    position: absolute;
}
#logoSpriteRT
{
    width: 116px;
    height: 115px;
    background-image: url('expertlogo.png');
    background-size: 495px 115px;
    background-position: -379px 0px;
    position: absolute;
}
#logoRef
{
    height: 115px;
    position: absolute;
    width:1px;
}
#scene
{
    display: none;
}
.upperLogo
{
    position: absolute;
    font-size: 44px;
    display: none;
}
#msx1
{
    color: red;
    z-index: 100;
    display: none;
}
#msx2
{
    color: red;
    z-index: 90
    display: none;
}
#so, #m
{
    color: cyan;
    z-index: 90;
    display: none;
}