<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <script src="./jquery-1.10.2.min.js"></script>
    <script src="./jquery.center.min.js"></script>
    <link href="expert.css" rel="stylesheet"/>
    <script>

    </script>
</head>
<body onresize="javascript:$('.center').center();" onload="javascript:init();">
    <div id="countDown" class="screen center">
        <span id="cnt" class="center"></span>
    </div>
    <div id="scene" class="screen center">
        <div id="logoRef" class="logo"></div>
        <div id="logoSpriteEX" class="logo"></div>
        <div id="logoSpriteXP" class="logo"></div>
        <div id="logoSpriteER" class="logo"></div>
        <div id="logoSpriteRT" class="logo"></div>
        <div id="msx1" class="upperLogo">MSX</div>
        <div id="msx2" class="upperLogo">MSO</div>
        <div id="so" class="upperLogo">SO</div>
        <div id="m" class="upperLogo">M</div>
        <div id="cor" class="upperLogo">COR</div>
    </div>
<script>
    window.cnt = 7;
    window.vel = 4000;
    //window.vel = 4;
    var z;
    function init() {
        $('.center').center();
        countDown();
    }
    function countDown()
    {
        z=setInterval(function(){
            $('#cnt').html(window.cnt);
            window.cnt -= 1;
            if(window.cnt ==-1)
            {
                clearInterval(z);
                take1();
            }
            $('#cnt').center({ against: 'parent' });
        }, 1000);

    }
    function take1()
    {
        $('#countDown').hide();
        $('#scene').show();
        $('#logoRef').center({ against: 'parent' });
        $('.upperLogo').center({ against: 'parent' });
        var allTop = $('#logoRef').position().top;
        var xpLeft = ($('#logoRef').position().left - $('#logoSpriteXP').width());
        var exLeft = (xpLeft - $('#logoSpriteEX').width());
        var erLeft = ($('#logoRef').position().left);
        var rtLeft = (erLeft + $('#logoSpriteER').width());
        $('.upperLogo').css('top', allTop - 90);
        $('#logoSpriteEX').css('left' , -130);
        $('#logoSpriteXP').css('left' , -130);
        $('#logoSpriteER').css('left' , 930);
        $('#logoSpriteRT').css('left' , 930);
        $('#logoSpriteEX').css('top' , -115);
        $('#logoSpriteXP').css('top' , 915);
        $('#logoSpriteER').css('top' , 915);
        $('#logoSpriteRT').css('top' , -115);
        $('#logoSpriteEX').animate({
            top : allTop,
            left : exLeft
        }, window.vel);
        $('#logoSpriteXP').animate({
            top : allTop,
            left : xpLeft
        }, window.vel);
        $('#logoSpriteER').animate({
            top : allTop,
            left : erLeft
        }, window.vel);
        $('#logoSpriteRT').animate({
            top : allTop,
            left : rtLeft
        }, window.vel, function() {
            take2();
        });
        $('#scene').show();
    }
    function take2()
    {
        $('.msxCor').show();
        $('#msx1').show();
        var sh=setInterval(function(){
            var sh = Math.floor((Math.random() * 10) + 1);
            if(sh > 5)
            {
                $('#msx2').show();
                $('#msx1').hide();
                setTimeout(function() {
                    $('#msx2').hide();
                    $('#msx1').show();
                },50);

            }
        }, 100);
        setTimeout(function() {
            clearInterval(sh);
            $('#msx2').show();
            $('#msx1').hide();
            setTimeout(function() {
                take3();
            },1000);
        },4000);
    }
    function take3()
    {
        $('#msx1').hide();
        $('#msx2').hide();
        $('#so').show();
        $('#m').css('left',$('#so').position().left + 80);
        $('#m').show();
        var so = $('#so').position().left;
        var m = $('#m').position().left;
        $('#so').animate({
            left : "+=490"
        }, 2600);
        $('#m').animate({
            left : "-=490"
        }, 2600, function() {
            $('#so').css('left',-80);
            $('#m').css('left',880);
            $('#so').animate({
                left : so
            }, 2600);
            $('#m').animate({
                left : m
            }, 2600, function() {
                setTimeout(function() {
                    $('#so').css('color','magenta');
                    $('#m').css('color','magenta');
                    var backTop = $('#so').position().top;
                    $('#m').animate({
                        top : "-=350"
                    }, 2600);
                    $('#so').animate({
                        top : "+=500"
                    }, 2600, function() {
                        var ySo = $('#so').position().top;
                        var yM = $('#m').position().top;
                        $('#m').css('top', ySo);
                        $('#so').css('top', yM);
                        $('#m').animate({
                            top : backTop
                        }, 2600);
                        $('#so').animate({
                            top : backTop
                        }, 2600);
                    });
                },700);
            });
        });
    }
</script>
</body>
</html>